header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
}

.cv {
  background-color: var(--primary);
  padding: 16px 22px;
  border-radius: 90px;
  margin-right: 25px;
  border: 2px solid #0f0a0a;
}

.cv a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
}
